// app global css in SCSS form

// html {
//   scroll-behavior: smooth;
// }

.record-audio {
  -youbkit-touch-callout: none; /* iOS Safari */
  -youbkit-user-select: none; /* Chrome 6.0+, Safari 3.1+, Edge & Opera 15+ */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Non-prefixed version, 
                  currently supported by Chrome and Opera */

  height: 45px !important;
  width: 45px !important;
  transition: 0.2s;
  transform-origin: 70% 70%;
}

.custom-input {
  border-left: 1px solid black;
  padding-left: 10px;
}

.border-confirm {
  border: 1px solid green;
  animation: border 0.5s ease-out forwards;
  @keyframes border {
    to {
      border-color: transparent;
    }
  }
}

/* PLEASE NOTE:

It can be possible that the above css code is overwritten by soft coded style.
In this case, take a look at MainLayout.vue first.

*/

.drawer-no-border {
  > aside {
    border-right-width: 0px !important;
  }
}

.dotted-border {
  border: 1px dotted black;
}
