// app global css in SCSS form

.rise-content{
    animation: rise 1s ease-out;

    @keyframes rise{
        from{
            transform: translateY(50px);
        }
        to{
            transform: translateY(0px);
        }
    }
}