// app global css in SCSS form

.rise-content{
    animation: rise 1s ease-out;

    @keyframes rise{
        from{
            transform: translateY(50px);
        }
        to{
            transform: translateY(0px);
        }
    }
}

.custom-chat-label{
    position: relative;
    &:after{
        content: '';
        position: absolute;
        top: -5px;
        left: 50%;
        transform: translateX(-50%);
        width: 10vw;
        border-top: 1px solid lightgray;
    }

    >.q-message-label.text-center{
    margin: 0px;
}
}

.slide-enter-active,
.slide-leave-active {
  transition: all .1s ease-out;
}

.slide-enter,
.slide-leave-to {
  transform: translateX(-15px);
}


.slide-up-enter-active,
.slide-up-leave-active {
  transition: all .2s ease-out;
  transform-origin: center top;
}

.slide-up-enter,
.slide-up-leave-to {
  transform: translateY(90vh) scale(.8);
}

.expand-enter-active,
.collapse-leave-active
 {
  transition: all .15s ease-out;
  transform-origin: center bottom;
}

.expand-enter,
.collapse-leave-to
 {
  opacity: 0;
  transform: scaleY(.2) scaleX(.8) translateY(-5vh);
}

/* PLEASE NOTE:

It can be possible that the above css code is overwritten by soft coded style.
In this case, take a look at MainLayout.vue first.

*/